---
hobbies:
  - title: "Art / Art History"
    id: "art"
    icon: "fa-paintbrush"
  - title: "Bars & Clubs"
    id: "bars"
    icon: "fa-martini-glass"
  - title: "Board / Card Games"
    id: "boardgames"
    icon: "fa-game-board"
  - title: "Cooking"
    id: "cooking"
    icon: "fa-kitchen-set"
  - title: "Creative Projects"
    id: "crafts"
    icon: "fa-pen-ruler"
  - title: "Cycling"
    id: "cycling"
    icon: "fa-person-biking"
  - title: "Dancing"
    id: "dancing"
    icon: "fa-party-horn"
  - title: "Film Enthusiast"
    id: "film"
    icon: "fa-film"
  - title: "Fitness"
    id: "fitness"
    icon: "fa-heart-pulse"
  - title: "Foodie / Restaurants"
    id: "food"
    icon: "fa-pizza-slice"
  - title: "Hiking"
    id: "hiking"
    icon: "fa-person-hiking"
  - title: "Languages"
    id: "lang"
    icon: "fa-language"
  - title: "Museums"
    id: "museums"
    icon: "fa-palette"
  - title: "Music"
    id: "music"
    icon: "fa-music"
  - title: "Photography"
    id: "photog"
    icon: "fa-camera"
  - title: "Reading"
    id: "reading"
    icon: "fa-book-open-reader"
  - title: "Running"
    id: "running"
    icon: "fa-person-running"
  - title: "Science"
    id: "science"
    icon: "fa-flask-vial"
  - title: "Sports"
    id: "sports"
    icon: "fa-basketball"
  - title: "Travel"
    id: "travel"
    icon: "fa-plane"
  - title: "Video Games / Gaming"
    id: "gaming"
    icon: "fa-gamepad"
  - title: "Volunteering"
    id: "volunteer"
    icon: "fa-handshake-angle"
  - title: "Writing"
    id: "writing"
    icon: "fa-pen-to-square"
  - title: "Yoga"
    id: "yoga"
    icon: "fa-person-falling"
---
```{=html}
{% for hobby in hobbies %}
<div class="form-check form-check-inline">
<input class="form-check-input" type="checkbox" id="hobby-{{ hobby.id }}-checkbox" value="{{ hobby.title }}" checked disabled>
    <label class="form-check-label" for="hobby-{{ hobby.id }}-checkbox">
      <i class="fa-solid {{ hobby.icon }}" title="{{ hobby.title }}"></i>&nbsp;{{ hobby.title }}
    </label>
</div>
{% endfor %}
```